.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #317c33;
    
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
  }
  
  .square {
    width: 100px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #eddf645b;
    color: #000000;
    border: 3px solid #fbc12d76;
    z-index: 2;
  }
  
  .restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #642dfb1a;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
  }
  .winner {
    background-color: #ffd54f; 
    color: #000; 
        border: 3px solid #ff8f00; 
      }

.line {
  position: absolute;
  background-color: red; /* Change this to your desired color */
  z-index: 1; /* Make sure it's behind the squares */
}